body {
    background: #212529;
}

.App {
    padding: 80px 0px;
    max-width: 0 auto;
}

.App h1 {
    text-align: center;
    color: #ffffff;
    background-color: #3B3E42;
    border: #3B3E42;
    border-radius: 20px;
    padding: 20px 5px;
}

.App footer{
    padding: 20px 5px;
    color: #ffffff;
    background-color: #3B3E42;
    border: #3B3E42;
    border-radius: 20px;
}

