.Dictionary form {
    padding: 40px 15px;
    margin: 20px;
    border: #3B3E42;
    border-radius: 20px;
    background-color: #3B3E42;
    text-align: center;
    
}

.Dictionary input {
    background-color: #212529;
    color: #00FFC8;
    border: #3B3E42;
    border-radius: 10px;
    border-style: solid;
    font-size: 20px;
    box-sizing: none;
}



