.Dictionary form {
    padding: 40px 15px;
    margin: 20px;
    border: #3B3E42;
    border-radius: 20px;
    background-color: #3B3E42;
    text-align: center;
    
}

.Dictionary input {
    background-color: #212529;
    color: #00FFC8;
    border: #3B3E42;
    border-radius: 25px;
    font-size: 22px;
    box-sizing: none;
}

@media (min-width: 400px) and (max-width: 500px) 
{.Dictionary input {
    font-size: 20px;
    position: relative;
    right: 60px;
} }

@media (min-width: 321px) and (max-width: 399px) 
{.Dictionary input {
    font-size: 20px;
    position: relative;
    right: 80px;
} }

@media (min-width: 300px) and (max-width: 320px) 
{.Dictionary input {
    font-size: 20px;
    position: relative;
    right: 100px;
} }
