.Phonetic a {
    padding: 7px;
    border: solid;
    background-color: #03DAC5;
    border-color: #03DAC5;
    border-radius: 7px;
    color: #272B2F;
    margin: 7px;
    text-decoration: none;
}
.Phonetic a:hover {
    background-color: #272B2F;
    color: #03DAC5;
}

.Phonetic p {
    color: white;
    font-size: 18px;
}